# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# Minecraft

.fabric/
.andromeda/
.dark-matter/
.replay_cache/
.spyglass_astronomy/
XaeroWorldMap/
saves/
schematics/
logs/
crash-reports/
replay_recordings/
moddata/
fancymenu_data/
modernfix/
cache/
profile.json

# Survival Remastered

# Built mrpacks
client/
# Built serverpacks
server/servers/
