# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# Minecraft

.fabric/
.andromeda/
.commander/mappings/
.dark-matter/
.replay_cache/
.spyglass_astronomy/
.bobby/
XaeroWorldMap/
saves/
schematics/
logs/
crash-reports/
screenshots/
replay_recordings/
moddata/
stackdeobf_mappings/
fancymenu_data/
modernfix/
cache/
config/spark/tmp/
profile.json
usercache.json
usernamecache.json


# Survival Remastered

# Built mrpacks
client/
# Built serverpacks
server/servers/
